.faq-title {
  margin: 10px 5% 10px 5%;
}

.faq-title h1 {
  color: black;
  font-weight: bold;
  text-align: center;
}

.faq-title h4 {
  color: black;
  text-align: center;
}

.capstone{
    width:50%;
    margin: 0 auto;
}

.intro_vid{
    position:relative;
    display:block;
    width:100%;
    height:auto;
}

.accordionMenu {
  margin: 0 15% 0 15%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.accordionMenu input[type="checkbox"] {
  display: none;
}


.accordionMenu label {
  background: #2c97de;
  font-size: 18px;
  color: #fff;
  position: relative;
  cursor: pointer;
  display: block;
  line-height: 47px;
  padding: 0 25px 0 10px;
  border-bottom: 1px solid #e6e6e6;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.accordionMenu label::after {
  display: block;
  content: "";
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-style: solid;
  border-width: 5px 0 5px 10px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  right: 10px;
  top: 20px;
  z-index: 10;
}
.accordionMenu .content {
  max-height: 0;
  overflow: hidden;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.accordionMenu .content .inner {
  color: black;
  line-height: 1;
  background: white;
  padding: 10px 10px;
  font-size: 15px;
}

.accordionMenu input[type="checkbox"]:checked + label:after {
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accordionMenu input[type="checkbox"]:checked + label + .content {
  max-height: 2000px;
}

.accordionMenu label:hover {
  background-color: rgb(146, 7, 7);
}

@media (max-width: 846px) {
  .faq-title {
    margin: 10px 3% 10px 3%;
  }

  .faq-title h1 {
    font-size: x-large;
  }

  .faq-title h4 {
    font-size: medium;
  }

  .accordionMenu {
    margin: 0 10% 0 10%;
  }
}

@media (max-width: 600px) {
  .faq-title h1 {
    font-size: x-large;
  }

  .faq-title h4 {
    font-size: medium;
  }

  .accordionMenu {
    margin: 0 10% 25px 10%;
  }

  .accordionMenu label {
    font-size: smaller;
    line-height: 35px;
  }
}
