#scrollto_results {
}

#fullscreen {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 20px;
  top: 10px;
  left: 10px;
  right: 10px;
  height: 80vh;
}

#chart {
  flex-grow: 1;
}

.chart {
}

.js-plotly-plot .plotly .main-svg {
  padding: 10px 10px 10px 10px;
}

@media (max-width: 1080px) {
}

@media (max-width: 600px) {
  #fullscreen {
    height: 100vh;
    left: 5px;
    right: 5px;
  }
}
