{% extends 'base.html'%} {% block title%} FAQ {% endblock%}


{% block styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/faq.css')}}">
{% endblock %}

<!-- CONTENT HERE -->
{% block content %}

<div class="container-fluid">
    <div class="faq-title">
        <h1>Frequency Asked Questions(FAQ)</h1>
        <h4>Learn more about BESST, Powerwalls and Battery Energy!<h4>
    </div>

    <div class = "capstone">
        <div class="intro_vid">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/jlcd-_b6teo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen style="border: 2px solid black;"></iframe>
        </div>
    </div>

    <div class="accordionMenu">
        <p>About BESS</p>
        <!-- 1st menu  -->
        <input type="checkbox" name="trg1" id="acc1">
        <label for="acc1">What is a BESS(Battery Energy Storage System)?</label>
        <div class="content">
            <div class="inner">
                A BESS is a group of batteries that stores energy (from the electrical grid or a solar panel system) and automatically adds to your home's energy source when the grid goes down or during on-peak hours. 
            </div>
        </div>

        <!-- 2nd menu  -->
        <input type="checkbox" name="trg1" id="acc2">
        <label for="acc2">How does a BESS work with the grid?</label>
        <div class="content">
            <div class="inner">
                A Battery Energy Storage system charges and stores power during off-peak and mid-peak hours and then once the system is fully charged, during on-peak hours, the system discharges the stored energy and becomes the home's power source.
                
            </div>
        </div>
        
        <!-- 3rd menu -->
        <input type="checkbox" name="trg1" id="acc3">
        <label for="acc3">What is peak-shaving? How does energy storage fit in?</label>
        <div class="content">
            <div class="inner">
                During times of peak electricity demand like when air conditioners ramp up on hot days - many utilities charge customers extra since they have to ramp up expensive additional electricity production to meet the demand. These charges are called “time-of-use” or “peak” prices since they are tied solely to when a customer uses the electricity. Energy storage works in similar ways, but since energy storage lets customers decide when to buy and when to use the power, a customer is freed from premium charges, increasing cost savings.
            </div>
        </div>

        <!-- 4rd menu -->
        <input type="checkbox" name="trg1" id="acc4">
        <label for="acc4">Can a BESS such as a Telsa powerwall be installed into a home without a solar panel system or already set up with solar panels?</label>
        <div class="content">
            <div class="inner">
                Yes BESS can be integrated with solar panels for additional cost savings or as a standalone system utilizing the grid.
            </div>
        </div>

        <p>About Us</p>

        <!-- 5th menu -->
        <input type="checkbox" name="trg1" id="acc5">
        <label for="acc5">Why should I choose BESST?</label>
        <div class="content">
            <div class="inner">
                BESST aims to reduce the amount of steps required from the user and make it easy for the user to use. With accordance to the user's electricity bill, BESST reduce the burden of users having to research & understand their usage. Additionally, by using the tesla powerwall as the product reference, the number of inputs for a user are reduced as well (mainly battery storage specifications). BESST essentially trade-off flexibility of the tool for simplification of the user interaction.
            </div>
        </div>

        <!-- 6th menu -->
        <input type="checkbox" name="trg1" id="acc6">
        <label for="acc6">Is my data safe?</label>
        <div class="content">
            <div class="inner">
                No, your inputs will be used one-time to calculate the results and will not be stored in any form.
            </div>
        </div>

        <p>About Results</p>

        <!-- 7th menu -->
        <input type="checkbox" name="trg1" id="acc7">
        <label for="acc7">How does location affect results?</label>
        <div class="content">
            <div class="inner">
                Since electricity usage will vary by each month of the year - BESST simulates this variation using the average household usage per month in a given geographic location. The dataset can be found through:
                <a href="https://oee.nrcan.gc.ca/corporate/statistics/neud/dpa/showTable.cfm?type=SHCMA&sector=AAA&juris=CA&rn=19&page=1" target="_blank">Average Household Electricity Use by Month!</a> 
            </div>
            
        </div>

        <!-- 8th menu -->
        <input type="checkbox" name="trg1" id="acc8">
        <label for="acc8">How does a BESS result in GHG (Greenhouse gas) emission reduction?</label>
        <div class="content">
            <div class="inner">
                Similar to the idea of cost-savings, throughout the day - GHG emissions will vary across the grid based on the source of production (solar, nuclear, gas, etc.). If a household were to store electricity during a period of lower GHG emission and then discharge that stored electricity during a higher GHG emission period - then some GHG emission are ‘shaved’ off because electricity from the grid was not used during this time period. 
            </div>
        </div>

        <!-- 9th menu -->
        <input type="checkbox" name="trg1" id="acc9">
        <label for="acc9"> How are these numbers calculated?</label>
        <div class="content">
            <div class="inner">
                BESST presents reliability as the estimated number of hours that the Tesla powerwall (at maximum capacity) can supply electricity to a home according to their usages during off-peak, mid-peak, and on-peak time periods. For instance, during off-peak periods - a household may only be using electricity for a small number of appliances (refrigerator, charging devices, etc.). If a power outage were to occur during this period - the tesla powerwall can supply X hours of electricity for these appliances.
            </div>
        </div>

           <!-- 10th menu -->
           <input type="checkbox" name="trg1" id="acc10">
           <label for="acc10"> How does BESST present electricity reliability?</label>
           <div class="content">
               <div class="inner">
                BESST presents reliability as the estimated number of hours that the Tesla powerwall (at maximum capacity) can supply electricity to a home according to their usages during off-peak, mid-peak, and on-peak time periods. For instance, during off-peak periods - a household may only be using electricity for a small number of appliances (refrigerator, charging devices, etc.). If a power outage were to occur during this period - the tesla powerwall can supply X hours of electricity for these appliances.
               </div>
           </div>
 

          <!-- 11th menu -->
          <input type="checkbox" name="trg1" id="acc11">
          <label for="acc11"> Why do we reference the Tesla Powerwall?</label>
          <div class="content">
              <div class="inner">
                Tesla Powerwall product is used as the model for consumers to understand the benefits of having a BESS for the household because the Tesla Powerwall is the leading product in
                the industry. It helps to simplify the results and present realistic numbers through an actual product on the market.
              </div>
          </div>

          <p>Additional Links</p>
          <a href="https://www.epa.gov/energy/greenhouse-gas-equivalencies-calculator" target="_blank">GHG Emission Equivalencies </a>
          <a href="https://www.tesla.com/en_CA/support/powerwall/faqs" target="_blank">Tesla Powerwall Details </a>
          <a href="https://www.oeb.ca/consumer-information-and-protection/electricity-rates" target="_blank">Ontario Electricity Rates </a>
          <a href="https://www150.statcan.gc.ca/n1/daily-quotidien/220216/dq220216a-eng.htm" target="_blank" style="margin-bottom:2%;">Inflation & Interest </a>  



        

    </div>
</div>


{% endblock%}