{% extends 'base.html'%} {% block title %} Home {% endblock %} {% block styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home-inputs.css')}}">
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home-results.css')}}"> {% endblock %} {% block scripts %} {% endblock %}

<!-- CONTENT HERE -->
{% block content %}
<div class="site-header">
    <img class="img-m" src="{{url_for('static', filename='home-cover.png')}}">
    <div class="site-custom-curve">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path
                d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                class="shape-fill"></path>
        </svg>
    </div>
</div>

<div class="container">
    <p1>Welcome to BESST</p1>
</div>

<div class="container">
    <p2> Explore your potential battery energy savings </p2>
</div>

<form action="{{url_for('renderInputs1', scroll='scrollto_electricity_form-billtype')}}" method="post" class="container">
    <div class="frame">
        <button id="begin-proc-btn" class="btn btn-primary mb-2" name="renderInputs" type="submit">Begin</button>
    </div>
</form>

<div class="container">
    <div class="card shadow1" style="width: 18rem; margin: 25px 25px 25px 25px; align-items: center; border-radius: 10px;top:-100px;">
        <img class="card-img-top" src="{{url_for('static', filename='home-card-save.png')}}" style="width: 50px; height: 50px; margin-top: 10px;">
        <div class="card-body">
            <p class="card-text" style="text-align: center;">Long-term Savings</p>
            <p class="card-text" style="text-align: center;">Look into the full visibility of long-term cost saving and the payback period for your powerwall system.</p>
        </div>
    </div>

    <div class="card shadow2" style="width: 18rem; margin: 25px 25px 25px 25px; align-items: center; border-radius: 10px;top:-100px;">
        <img class="card-img-top" src="{{url_for('static', filename='home-card-env.png')}}" style="width: 50px; height: 50px; margin-top: 10px;">
        <div class="card-body">
            <p class="card-text" style="text-align: center;">C02 Footprint Reduction</p>
            <p class="card-text" style="text-align: center;">See how owning Battery Energy Storage Systems impact your household carbond footprint overtime. </p>
        </div>
    </div>

    <div class="card shadow3" style="width: 18rem; margin: 25px 25px 25px 25px; align-items: center; border-radius: 10px;top:-100px;">
        <img class="card-img-top" src="{{url_for('static', filename='home-card-outs.png')}}" style="width: 50px; height: 50px; margin-top: 10px;">
        <div class="card-body">
            <p class="card-text" style="text-align: center;">Mitigate Blackouts</p>
            <p class="card-text" style="text-align: center;">Prevent powerages to your home with a Battery Energy Storage System.</p>
        </div>
    </div>
</div>




<!-- INPUTS HERE -->

<div id="scrollto_electricity_form-billtype">
    <div class="container-inputs-billtype">
        <div class="inputForm-control-billtype">
            <form method="POST" action="/renderInputs1" class="electricity-input-form-billtype" id="electricity_form">
                <h5>Choose your bill type</h5>
                <div class="input-questions-billtype">
                    <input id="mySubmit1" type="submit" value="Time of Use" name="timeofuse" style="height:40px; width:150px"></input>
                </div>
                <div class="input-questions-billtype">
                    <input id="mySubmit2" type="submit" value="Tiered" name="tiered" style="height:40px; width:150px"></input>
            </form>
            </div>
        </div>
    </div>

    <div id="scrollto_electricity_form-inputs">
        <div class="container-inputs">
            <div class="inputForm-control">
                <div class="input-questions">

                    <!-- TIMEOFUSE FORM -->
                    {% if billtype=="timeofuse" %} {% if newelectricity_form %}
                    <form method="POST" class="electricity-input-form" id="electricity_form">
                        {{newelectricity_form.hidden_tag()}}
                        <div class="form-row">
                            <span class="col-6">{{newelectricity_form.Month_Of_bill.label(class="input-lable-format")}}</span>
                            <span>{{newelectricity_form.Month_Of_bill(class="form-control")}}</span>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col-6">Usage</th>
                                        <th scope="col-6">Price per KWH</th>
                                        <th scope="col-6">Total Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="form-controlfix">{{newelectricity_form.TimeofUse_Off_Peak_Value.label()}} {{newelectricity_form.TimeofUse_Off_Peak_Value(class="form-control", placeholder="#")}}
                                        </td>
                                        <td>{{newelectricity_form.TimeofUse_Off_Peak_KWH(class="form-control", placeholder="$")}}
                                        </td>
                                        <td>{{newelectricity_form.TimeofUse_Off_Peak_Total(class="form-control", placeholder="$")}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-controlfix">{{newelectricity_form.TimeofUse_Mid_Peak_Value.label()}} {{newelectricity_form.TimeofUse_Mid_Peak_Value(class="form-control", placeholder="#")}}
                                        </td>
                                        <td>{{newelectricity_form.TimeofUse_Mid_Peak_KWH(class="form-control", placeholder="$")}}
                                        </td>
                                        <td>{{newelectricity_form.TimeofUse_Mid_Peak_Total(class="form-control", placeholder="$")}}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="form-controlfix">{{newelectricity_form.TimeofUse_On_Peak_Value.label()}} {{newelectricity_form.TimeofUse_On_Peak_Value(class="form-control", placeholder="#")}}
                                        </td>
                                        <td>{{newelectricity_form.TimeofUse_On_Peak_KWH(class="form-control", placeholder="$")}}
                                        </td>
                                        <td>{{newelectricity_form.TimeofUse_On_Peak_Total(class="form-control", placeholder="$")}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="form-row">
                            <span class="col-6">{{newelectricity_form.DeliveryCharges.label(class="input-lable-format")}}</span>
                            <span>{{newelectricity_form.DeliveryCharges(class="form-control")}}</span>
                        </div>

                        <div class="form-row">
                            <span class="col-6">{{newelectricity_form.RegulatoryCharges.label(class="input-lable-format")}}</span>
                            <span>{{newelectricity_form.RegulatoryCharges(class="form-control")}}</span>
                        </div>

                        <div class="form-row">
                            <span class="col-6">{{newelectricity_form.TotalElectricityCost.label(class="input-lable-format")}}</span>
                            <span>{{newelectricity_form.TotalElectricityCost(class="form-control")}}</span>
                        </div>

                        <div class="form-row" style="margin: 20px 20px 20px 20px;justify-content: center;">
                            {{ newelectricity_form.submit(class="btn btn-primary mb-2") }}
                        </div>
                    </form>
                    {% endif %}

                    <!-- TIERED FORM -->
                    {% elif billtype=="tiered"%}
                    <form method="POST" class="electricity-input-form" id="electricity_form">
                        {{newelectricity_form.hidden_tag()}}
                        <div class="form-row">
                            <span class="col-6">{{newelectricity_form.Month_Of_bill.label(class="input-lable-format")}}</span>
                            <span>{{newelectricity_form.Month_Of_bill(class="form-control")}}</span>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead class="table-light">
                                    <tr>
                                        <th scope="col-6">Usage</th>
                                        <th scope="col-6">Price per KWH</th>
                                        <th scope="col-6">Total Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>{{newelectricity_form.Tiered_Value(class="form-control", placeholder="#")}}</td>
                                        <td>{{newelectricity_form.Tiered_KWH(class="form-control", placeholder="$")}}</td>
                                        <td>{{newelectricity_form.Tiered_Total(class="form-control", placeholder="$")}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-row">
                            <span class="col-6">{{newelectricity_form.DeliveryCharges.label(class="input-lable-format")}}</span>
                            <span>{{newelectricity_form.DeliveryCharges(class="form-control")}}</span>
                        </div>

                        <div class="form-row">
                            <span class="col-6">{{newelectricity_form.RegulatoryCharges.label(class="input-lable-format")}}</span>
                            <span>{{newelectricity_form.RegulatoryCharges(class="form-control")}}</span>
                        </div>

                        <div class="form-row">
                            <span class="col-6">{{newelectricity_form.TotalElectricityCost.label(class="input-lable-format")}}</span>
                            <span>{{newelectricity_form.TotalElectricityCost(class="form-control")}}</span>
                        </div>

                        <div class="form-row" style="margin: 20px 20px 20px 20px;justify-content: center;">
                            {{ newelectricity_form.submit(class="btn btn-primary mb-2") }}
                        </div>

                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Scrolling to the selected div -->
    {% if scroll %}
    <script type="text/javascript">
        document.location.hash = '#' + '{{ scroll }}';
    </script>
    {% endif %}




    <!-- RESULTS HERE -->
    <div id="scrollto_results">

        {% if savings %}
        <div class="container-results">
            <div class="results-format">
                <div class="results-1">

                    <table class="table table-hover table-light table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">Column</th>
                                <!-- <th scope="col">Month</th> -->
                                <!-- <th scope="col">Current Bill</th>
                                <th scope="col">Estimated Price</th>
                                <th scope="col">Savings</th> -->
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in savings %}
                            <tr>
                                <td>{{item}}</td>
                                <!-- <td>{{item.Month}}</td> -->
                                <!-- <td>{{item.Month}}-{{item.Year}}</td> -->
                                <!-- <td>${{item.CurrentBill}}</td> -->
                                <!-- <td>${{item.EstimatedPrice}}</td> -->
                                <!-- <td>${{item.Savings}}</td> -->
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                    {% else %}
                    <!-- DO NOTHING -->

                    {% endif %}
                </div>
                <div class="results-2">
                    {% if complete_form %}
                    <div class="container-results">
                        <div class="results-format">
                            <div class="results-1">

                                <p>{{complete_form}}</p>
                                <form action="{{url_for('home_page')}}" method="POST" class="container">
                                    <div class="frame">
                                        <button id="return_home-btn" class="btn btn-primary mb-2" name="return_home" type="submit">Reset</button>
                                    </div>
                                </form>

                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Scrolling the the Results after submitting the inputs -->
            {% if scrollto_results %}
            <script>
                document.getElementById('{{ scrollto_results }}').scrollIntoView();
            </script>
            {% endif %}


            <!-- END OF CONTENT -->
            {% endblock%}