{% extends 'base.html'%} {% block title%} Output{% endblock%} {% block styles %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/output.css')}}"> {% endblock %} {% block content %}

<!doctype html>
<html>

<body style="font-family:arial, sans-serif">

   
    <div id="chart" class="chart"></div>
  

</body>


<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script type="text/javascript">
    var graphs = {{graphJSON1 | safe}};
    console.log(graphs)
    Plotly.plot('chart', graphs, {});
</script>



</html>

{% endblock%}